<div id="admin_users_container" class="container" {{ stimulus_controller('admin_users') }}>
    <div data-provide="shuffle">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <nav class="nav nav-center nav-pills mb-7" data-shuffle="filter">
                    <a class="nav-link active" href="#" data-shuffle="button">All</a>
                    <a class="nav-link" href="#" data-shuffle="button" data-group="ROLE_ADMIN">Admins</a>
                    <a class="nav-link" href="#" data-shuffle="button" data-group="ROLE_USER">Users</a>
                </nav>
            </div>

            <div class="col-md-auto input-round">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="ti-search"></i></div>
                    </div>
                    <input id="admin_users_search" class="form-control" type="text" placeholder="Search" data-search-target="{{ path('admin') }}" value="{{ keyword|default('') }}">
                </div>
            </div>
        </div>
        <div class="row" data-shuffle="list">
            {% for user in users %}
                <div class="col-6 col-lg-4" data-shuffle="item" data-groups="{{ user.roles|roles|join(',') }}">
                    <a class="portfolio-1" href="{{ path('admin_user', {'id': user.id}) }}">
                            <span class="iconbox iconbox-sq iconbox-xxl"><img
                                        src="https://i.pravatar.cc/300?img={{ user.id|e > 70 ? 1:user.id|e }}"
                                        alt="project image"></span>
                        <div class="portfolio-detail">
                            <h5>{{ user.firstName ~ ' ' ~ user.lastName|e }}</h5>
                            <p>{{ user.username|e }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
